 {{> board/include/top}}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			 {{> board/include/header}} 
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<div class="font-size-large">
						<span class="m-0 font-weight-bold text-primary">{{board.no}}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
						<span>{{board.title}}</span>
						</div>
						<div class="dt-body-right font-size-mid"><b>{{writerName}}</b> 님</div>
					</div>
					<div class="card-body">
						<div>
							<table class="table table-bordered" width="100%" cellspacing="0" style="table-layout:fixed;">
							<tbody>
							<form name="form">
								<input type="hidden" class="form-control" id="no" value="{{board.no}}">
								<input type="hidden" class="form-control" id="userCheck" value="{{#userCheck}}{{.}}{{/userCheck}}">
								<tr class="form-group">
									<td width="15%" align="center">
										 등록일자
									</td>
									<td>
										 {{formattedRegDate}}
									</td>
								</tr>
								<tr class="form-group">
									<td align="center">
										 수정일자
									</td>
									<td>
										 {{formattedModifyDate}}
									</td>
								</tr>
								<tr class="form-group">
									<td align="center">
										 조회수
									</td>
									<td>
										 {{board.hit}} 회
									</td>
								</tr>
								<tr class="form-group">
									<td align="center" style="vertical-align:middle">
										 내용
									</td>
									<td>
										 {{board.content}}
									</td>
								</tr>
							</form>
							</tbody>
							</table>
							<div class="card mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">첨부파일</h6>
								</div>
								<table id="fileList" width="95%" cellspacing="2" cellpadding="2" align="center">
								<colgroup>
								<col width="30%">
								<col width="40%">
								<col width="20%">
								<col width="10%">
								</colgroup>
								</table>
							</div>
							<div style="text-align:right; margin-bottom:30px;">
								<a href="/board/list" class="btn btn-secondary btn-icon-split">
								<span class="text">목록</span>
								</a>
								<a href="/board/write/{{board.no}}" class="btn btn-success btn-icon-split">
								<span class="text">답글</span>
								</a>
								{{#userCheck}}
								<a href="/board/modify/{{board.no}}" class="btn btn-warning btn-icon-split">
								<span class="text">수정</span>
								</a>
								<a href="#" class="btn btn-danger btn-icon-split" id="btn-del">
								<span class="text">삭제</span>
								</a>
								{{/userCheck}}
							</div>
							{{> board/writeReply}}
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		 {{> board/include/footer}}
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
 {{> board/include/scroll}} 

</body>
